CLICKUP_API_TOKEN=pk_your_clickup_api_token
CLICKUP_LIST_ID=901234567890
DATABASE_URL="postgres://user:password@pooled.db.prisma.io:5432/postgres?sslmode=require"

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAt9w0epL6FPIx_5eT_80Uj43IzwwATs_k
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=baseball-stats-tracker-c9d51.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=baseball-stats-tracker-c9d51
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=baseball-stats-tracker-c9d51.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=216862706013
NEXT_PUBLIC_FIREBASE_APP_ID=1:216862706013:web:957d32ad6ea2d30494c0b4
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4DRJZTGYC0
